modules:
  bots:
    enum_name_mapping:
      SingleMode: SINGLE_AGENT
      MultiMode: MULTI_AGENT
      WorkflowMode: SINGLE_AGENT_WORKFLOW
    operation_name_mapping:
      UpdateBot: update
      CreateDraftBot: create
      GetBotOnlineInfo: retrieve
      PublishDraftBot: publish
      GetSpacePublishedBotsList: list
    response_type_modify:
      CreateDraftBotData: Bot
      PublishDraftBotData: Bot
      # SpacePublishedBotsInfo: _PrivateListBotsData
    type_mapping:
      # SpacePublishedBotsInfo: _PrivateListBotsData
    skip_optional_fields_classes:
      - BotOnboardingInfo
      - BotPromptInfo
      - BotModelInfo
      - BotPluginAPIInfo
      - BotPluginInfo
      # - _PrivateListBotsData
    paged_operations:
      GetSpacePublishedBotsList:
        enabled: true
        param_mapping:
          page_index: page_num
          page_size: page_size
        # response_class: _PrivateListBotsData
        item_type: SimpleBot
